.table-responsive {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    table {
        width: 80%;
        border-top: 1px solid #fff !important;
        border-left: 1px solid grey;

        .required {
            padding-left: 1.5rem;
            color: red;
        }

        td {
            font-size: .8rem;
            padding-left: 0;
            padding-right: 2rem;
            width: auto;
        }
        .name{
            width: 10rem;
        }
        .vertical { 
            border-left: 1px solid black; 
            margin-right: .3rem;
        } 
       

        .name::before {
            display: inline-block;
            content: "";
            width: 1rem;
            border-top: .1rem solid black;
            margin-right: .3rem;
            

        }
    }
}